<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>城市选择</title>
</head>
<body>
  <div id="select-area" >
    <select id="select-province" v-on:click="changeprovince">
      <option disabled value="" selected>请选择省份</option>
      <option v-for="province in allCities">{{province.name}} </option>
    </select>
    <select id="select-province-city" v-on:click="changecities">
      <option disabled value="" selected>请选择城市</option>
      <option v-for="city in cities" >{{city.name}} </option>
    </select>
    <select id="select-province-city-area">
      <option disabled value="" selected>请选择地区</option>
      <option v-for="area in areas">{{area.name}} </option>
    </select>
  </div>

  <script type="text/javascript" src="./china-city-area-zip.js"></script>
  <!-- <script type="application/javascript" src="./vue.js"></script> -->
  <script type="application/javascript" src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script>
  var app =  new Vue({
    el: '#select-area',
    data: {
      allCities:china_city_area_zip,
      cities:[],
      areas:[]
    },
    methods:{
      changeprovince: function(){
        let provinceName = document.querySelector('#select-province').value
        let province = this.allCities.find(it => it.name == provinceName)
        this.cities = province.child
      },
      changecities: function(){ 
        let cityName = document.querySelector('#select-province-city').value
        let city = this.cities.find(it => it.name == cityName)
        this.areas = city.child
      }
    }
  })
  </script>
</body>
</html>