<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>

  </div>

  <script src="./vue.js"></script>
  <script>
  Vue.component('regexp-input', {
    props: /foo/g,
    data(){
      return{

      }
    },

    template:`
      <span style="border: 2px solid;">
        <input type="text" v-model="reg">
       
        <span>
          <input type="checkbox" v-for="" />
        </span>
      </span>
    `
  })
  
  </script>
</body>
</html>